{% extends "layout.html" %}

{% block content %}
    <div class="create-habit-form">
        <h1 class="form-title">{{ title }}</h1>
        <p class="form-description">{{ description }}</p>
        <br>
        <form method="post" action="">
            {{ form.hidden_tag() }}

            <div class="form-block">
                {{ form.title.label(class="form-control-label") }}
                {{ form.title(placeholder="Enter a name for your habit!", class="form-input", autocomplete="off") }}

                {{ form.content.label(class="form-control-label") }}
                {{ form.content(placeholder="Write a thorough description of what your habit is, your motivations, and how you plan to form it!", class="form-input", style="font-size: 14px; height: 13em; resize: none;", autocomplete=off) }}

                <div class="center">
                    {{ form.submit(class="form-btn") }}
                    {% if title == 'Create a New Habit' %}
                        <a href="{{ url_for('habit_list') }}" class="form-btn form-btn-cancel">Cancel</a>
                    {% else %}
                        <a href="{{ url_for('single_habit', habit_id=id) }}" class="form-btn form-btn-cancel">Cancel</a>
                    {% endif %}

                </div>

            </div>
        </form>
        {% if title == 'Create a New Habit' %}
            <a class="text-muted popup" onclick="displayAbout()"> Need help? 
                <span class="popuptext" id="myPopup"> <strong>Here are some tips to think about:</strong>  <br>
                    1. Keep your habit simple. Simpler actions become habitual much more easily and still have the ability to produce lasting changes. <br>
                    2. Be specific about your goals. Make sure you define what you want out of your habit, and why you want it. <br>
                    3. Place the action of your habit in a frequently encountered context. Habits become automatic much better when there are contextual cues that encourage you to stay on track. <br>
                </span>
            </a>

        {% endif %}
    </div>

    <script src="{{ url_for('static', filename='interactive.js') }}"></script>

{% endblock content %}