{% extends "layout.html" %}

{% block content %}

    <div class="create-habit-form">
        <h1 class="form-title">{{ title }}</h1>
        <p class="form-description">{{ method }}</p>
        <br>
        <form method="post" action="">
            {{ form.hidden_tag() }}

            <div class="form-block">
                {{ form.title.label(class="form-control-label") }}
                {{ form.title(placeholder="Enter a name for your habit!", class="form-input", autocomplete="off") }}

                {{ form.content.label(class="form-control-label") }}
                {{ form.content(placeholder="Write a thorough description of what your habit is, your motivations, and how you plan to form it!", class="form-input", style="height: 8em; resize: none;", autocomplete=off) }}

                <div style="text-align: center;">
                    {{ form.submit(class="form-btn") }}
                    <a href="{{ url_for('habit_list') }}" class="form-btn form-btn-cancel">Cancel</a>
                </div>

            </div>
        </form>
    </div>

{% endblock content %}