{% extends "layout.html" %}

{% block content %}


    <div class="homepage">
        <h1>66 Days</h1>

        Lorem ipsum dolor sit amet.
        <br>
        <br>
        <a class="navlinks" style="font-size: 18px; display: inline-block; margin-bottom: 5px;" onclick="displayAbout()"> Learn More  <i class="arrow down"></i> </a>
        <div class="about-info">
            <p style="white-space: pre-line;">asdfasdfsadfsadfds
                asdfasdfsadfsadfdsasdfa

                asdfasdfsadfsadfds
                asdfasdfsadfsadfdsasdfaa
                sdfasdf
                asdfasdfsadfsadfdsasdfaasdfas

                asdfasdfsadfsadfdsasdfa
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel animi commodi molestias, alias quia consequatur, temporibus numquam sit molestiae laudantium incidunt, nulla earum cupiditate tenetur maxime! Saepe reiciendis beatae deserunt nesciunt fuga nobis, esse molestias ipsa fugiat, quam culpa sit enim explicabo maxime labore adipisci dolores consectetur optio, nulla nostrum! Dicta consequatur at ducimus vero quod quidem mollitia voluptatibus, sit modi et pariatur ullam labore doloribus nisi provident atque quisquam explicabo temporibus molestias, itaque impedit laudantium culpa! Reprehenderit iste quo neque delectus pariatur veniam quae libero nostrum expedita quidem, nihil sint inventore praesentium minima. Officiis optio tenetur reprehenderit labore libero.
            </p>
        </div>
    </div>



    <script>
        var x = JSON.parse('{{ x | tojson | safe}}');
    </script>
    <script src="{{ url_for('static', filename='interactive.js') }}"></script>
{% endblock content %}