<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    {% if head %}
        <title>Flask 66 Days - {{ head }}</title>
    {% else %}
        <title>Flask 66 Days</title>
    {% endif %}
</head>
<body>
    <header>
            <a id="logo" href="{{ url_for('home') }}">66 Days</a>
            <div style="display: inline-block;">
                <a class="navlinks" href="{{ url_for('habit_list') }}">Habits</a>
                <a class="navlinks" href="{{ url_for('create_habit') }}">Create</a>
            </div>
            <div style="display: inline-block; margin-left: auto; margin-right: 10px;">
                {% if current_user.is_authenticated %}
                    <a class="login" href="{{ url_for('profile') }}">Profile</a>
                    <a class=" navlinks logout" href="{{ url_for('logout') }}">Log Out</a>
                {% else %}
                    <a class="login" href="{{ url_for('login') }}">Log In</a>
                {% endif %}
            </div>

    </header>
    
    {% block content %}
    {% endblock %}

    <script src="{{ url_for('static', filename='interactive.js') }}"></script>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% set class, message = messages[0] %}
            <div id="messageModal" class="modal">
                <div class="message {{class}}">
                    <span id="close" class="close">&times;</span>
                    <p>
                        {{ message }}
                    </p>
                </div>
            </div>
            <script>displayMessageModal("message")</script>
        {% endif %}
    {% endwith %}

</body>
</html>