{% extends "layout.html" %}

{% block content %}

    <div class="create-habit-form" style="padding: 1% 2%">
        <h1 class="form-title">Login</h1>
        <form method="POST">
            {{ form.hidden_tag() }}


            {% if form.email.errors %}
                {{ form.email(class="form-input", placeholder="Email", autocomplete="off") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email(class="form-input", placeholder="Email", autocomplete="off") }}
            {% endif %}

            
            {% if form.password.errors %}
                {{ form.password(class="form-input", placeholder="Password", autocomplete="off") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="form-input", placeholder="Password", autocomplete="off") }}
            {% endif %}

            {{ form.submit(class="form-btn", style="width: 100%; font-size: 20px; height: 45px; display: block; border-radius: 10px; margin: 30px auto 20px auto;") }}
        </form>
        <div class="text-muted" style="margin: 0 0 15px;">
            Don't have an account? <a class="navlinks" href="{{ url_for('register') }}" style="padding: 0;">Register</a> now!
        </div>
    </div>

{% endblock content %}