{% extends "layout.html" %}


{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <h1 class="page-title">Welcome, {{ user }}</h1>
    <br>

    {% set habit_info = dict() %}
    {% for habit in habits %}
        {% set x = habit_info.__setitem__(habit.title, habit.checkins|length) %}
    {% endfor %}

    <div class="split-page">
        <div style="height: 500px" class="chart-container">
            <canvas id="myChart"></canvas>
        </div>
        <div class="habit-info">
            {% set count = namespace(value=0) %}
            {% for habit in habits %}
                {% if habit.checkins|length > 0 and (now.date() - habit.date_created.date()).days == habit.checkins[-1].day %} 
                    {% set count.value = count.value + 1 %}
                {% endif %}
            {% endfor %}
            <h2>Habits Checked In Today:</h2>
            <div style="margin-top:0; height: 5em;" class="progress-bar">
                <div class="progress-done progress-done-habits"></div>
                <div style="font-size: 22px;" class="progress-text">{{ count.value }} / {{ habits | length }}</div>
            </div>
            <h2>Total Habits Completed:</h2>
            <h2 id="num">{{completed}}</h2>
        </div>
    </div>
    <br><br><br><br>
    <hr>
    <h2 class="page-title">Inbox</h2>

    <script>
        let v = "{{ count.value }}"
        let s = "{{ habits|length }}"
        var habits = JSON.parse('{{habit_info | tojson | safe }}');
    </script>
    <script src="{{ url_for('static', filename='barchart.js') }}"></script>
{% endblock content %}