{% extends "layout.html" %}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <h1 class="page-title">{{ habit.title }}</h1>
    <div class="split-page">
        <div id="habit-{{habit.id}}" class="single-habit">
            <div class="article-metadata">
                <small class="text-muted">Created on {{ habit.date_created.strftime('%Y-%m-%d') }}</small>
                {% if habit.checkins|length >= 66 and habit.status == "IP" %}
                    <small style="float: right;"><button onclick="displayMessageModal('archive', '{{ habit.id }}')" >Archive as Completed</button></small>
                {% elif habit.checkins|length >= 66 and habit.status == "A"%}
                    <small style="float: right;"><a href="{{ url_for('unarchive_habit', habit_id=habit.id) }}">Continue Habit</a></small>
                {% endif %}
            </div>
            <h3 style="margin-top: 1%;">Habit Content:</h3>
            <p class="habit-content">{{ habit.content }}</p>
            {% if habit.author == current_user %}
                <div style="display: grid; grid-template-columns: 4fr 1fr;">
                        {% if habit.status == "IP" %}
                            <div>
                                {% if habit.checkins|length > 0 and (now.date() - habit.date_created.date()).days <= habit.checkins[-1].day %} 
                                    <a id="{{habit.id}}" class="large checked_in" >Checked In! &#10003;</a>
                                {% else %}
                                    <a id="{{habit.id}}" class="large check_in" onclick='checkin("{{habit.id}}"); addData();'>Check In &#10003;</a>
                                {% endif %}
                                <a id="edit" class="navlinks text-muted" href="{{ url_for('calendar', habit_id=habit.id) }}">Edit Check Ins</a>
                            </div>
                        {% endif %}

                    <div style="display: inline-flex; margin: 1% 0;">
                        <button class="update"><a href="{{ url_for('update_habit', habit_id=habit.id) }}">Update</a></button>
                        <button class="delete" onclick='displayMessageModal("delete")'>Delete</button>

                    </div>
                </div>
            {% endif %}
        </div>
        <div class="habit-info">
            <h2 style="margin-bottom: 5px;">Current Streak:</h2>
            {% set counter = [0] %}
            {% if habit.checkins|length > 0 and (now.date() - habit.date_created.date()).days <= habit.checkins[-1].day+1 %}
                {% set counter = [1] %}
                {% set last = [habit.checkins[-1].day] %}
                {% for i in range(habit.checkins|length-2, -1, -1) if counter|length == 1 %}
                    {% if habit.checkins[i].day == last.pop()-1 %}
                        {% if counter.append(counter.pop() + 1) %}{% endif %}
                    {% else %}
                        {% if counter.insert(0, counter[0]) %}{% endif %}
                    {% endif %}
                    {% if last.append(habit.checkins[i].day) %}{% endif %}
                {% endfor %}
            {% endif %}
            <h2 style="margin-top: 0; margin-bottom: 8%;" id="streak-counter">{{ counter[0] }} Days</h2>
            
            <h2 style="margin-bottom: 10px;">Progress:</h2>
            <div style="margin-top:0;"  class="progress-bar">
                <div class="progress-done"></div>
                <div class="progress-text">{{ habit.checkins|length}} Days Completed</div>
            </div>
        </div>
    </div>

    <div id="deleteModal" class="modal">
        <div class="message delete-message">
            <span id="closeButton" class="close">&times;</span>
            <p class="modal-text">
                Are you sure you want to delete?
                Deleteing will permanently remove this habit and all of its progress.
            </p>
            <button style="margin:0;" class="delete" onclick='deleteHabit( "{{habit.id}}" )'>Delete</button>
        </div>
    </div>

    <div id="updateModal" class="modal">
        <div class="message">
            <span id="closeButton2" class="close">&times;</span>
            <p id="modal-text" class="modal-text">
            </p>
            <form style="display: none;" action="" id="link-username">
                <input id="username-input" class="link-form-input" placeholder="Username" type="text">
            </form>
            <button id="confirm" class="update" onclick='archiveHabit( "{{habit.id}}" )' style="padding: 8px 16px;">Archive</button>
        </div>
    </div>

    {% set checkins = [] %}
    {% for checkin in habit.checkins %}
        {% if checkins.append(checkin.day) %}{% endif %}
    {% endfor %}
    <br>
    <div class="chart-container">
        <canvas id="myChart"></canvas>
    </div>

    <div style="text-align: center; margin-top: 3%;">
        <button onclick="displayMessageModal('link', '{{ habit.id }}')" class="navlinks">Link this habit with a friend</button>
    </div>
    <br>
    {% if linked_habits|length > 0 %}
    <hr>
        <h2 class="page-title" style="margin-top: 40px;">Linked Habits</h2>
        {% for habit in linked_habits %}
            <div class="single-habit" style="width: 50%; margin-left: auto; margin-right: auto;">
                <div>
                    <small class="text-muted">Created on {{ habit.date_created.strftime('%Y-%m-%d') }}</small>
                </div>
                <h3 style="margin: 1% auto 1% auto;">{{ habit.author.username }}'s {{ habit.title }}, {{ habit.checkins|length }} days completed.</h3>
                <div style="--width: {{ habit.checkins|length }}"  class="progress-bar progress-bar-small">
                    <div class="progress-done progress-done-small"></div>
                </div>
                <p class="habit-content">{{ habit.content }}</p>
                {% if habit.checkins|length > 0 and (now.date() - habit.date_created.date()).days == habit.checkins[-1].day %} 
                    <p class="checked_in" style="border-color: rgba(209, 209, 255, 0.644); color: rgba(209, 209, 255, 0.699);" >{{ habit.author.username }} has checked in today! &#10003;</p>
                {% elif habit.status=="A" %}
                    <p class='checked_in' style="border-color: rgba(209, 209, 255, 0.644); color: rgba(209, 209, 255, 0.699);" >This habit is archived!</p>
                {% else %}
                    <p class="checked_in not_checked_in">{{ habit.author.username }} has not yet checked in! &#10005;</p>
                {% endif %}
            </div>
    {% endfor %}

    {% endif %}

    <br><br>

    <script>
        let date_created = "{{habit.date_created}}"
        let checkins = "{{checkins}}"
    </script>
    <script src="{{ url_for('static', filename='checkin.js') }}"></script>
    <script src="{{ url_for('static', filename='linechart.js') }}"></script>
{% endblock content %}